node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
socket-io/node_modules/**/*
react-native-ui/node_modules/**/*
react-native-ui/.env

# macOS
.DS_Store
